<div>
    <div class="row">
        <div class="col-md-4 people-intro">
            <div class="container user-photo">
                <p>
                    <img src="./../../../assets/user-icon.png">
                </p>
            </div>
            <h3 class="name">Name</h3>
            <h5 class="role">Role</h5>
        </div>
        <div class="col-md-4 people-intro">
            <div class="container user-photo">
                <p>
                    <img src="../../../assets/user-icon.png">
                </p>
            </div>
            <h3 class="name">Name</h3>
            <h5 class="role">Role</h5>
        </div>
        <div class="col-md-4 people-intro">
            <div class="container user-photo">
                <p>
                    <img src="../../../assets/user-icon.png">
                </p>
            </div>
            <h3 class="name">Name</h3>
            <h5 class="role">Role</h5>
        </div>
    </div>
</div>

